<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <h1>Edit Profile</h1>
    <form action="/save-profile" method="UPDATE">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your profile name.">
        </div>
        <div>
            <label for="Nickname">Nickname:</label>
            <input type="text" id="nickname" nickname="nickname" placeholder="Enter your nickname.">
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" placeholder="Enter your age.">
        </div>
        <div>
            <label for="Bio">Bio:</label>
            <input type="text" id="bio" name="bio" placeholder="Enter your bio.">
        </div>
        <button type="submit">Save</button>
    </form>

</body>

</html>